.main {
	width: 100vw;
	height: 100vh;
	text-align: center;
	padding-top: 50px;
	background: linear-gradient(#171717 0%, #2b592b 48%);
	color: azure;
}

.title-main {
	padding: 80px;
}

.title-main h1 {
	font-size: 60px;
}

.title-main p {
	width: 600px;
	margin-left: 60px;
	padding-top: 10px;
}

.title-main input {
	width: 420px;
	height: 35px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	margin-right: 20px;
}

.title-main button {
	padding-left: 10px;
}

.info {
	display: flex;
	width: 612px;
	font-size: 17px;
	padding-left: 12px;
}