

main.main {

	background: #eaf4dc;
	border-radius: 10px;
	padding: 45px;
	margin: 30px;
	width: 50%;
	max-width: 550px;
	text-align: center;
}

.title-main {
	margin: 0;

}

.title-main h1{
	font-size: 60px;

}

.title-main p {
	padding: 0 15px;
	margin: 0;
	position: relative;
	bottom: 25px;
	font-size: 18px;
}

.title p {
	padding: 0 30px;
}

.search {
	display: flex;
	position: relative;
	bottom: 10px;
}

.main input {
	width: 400px;
	margin-left: 27px;
}

.main button {
	height: 35px;
	color: white;
	width: 120px;
	border: 0;
	border-radius: 0;
	border: 0;
	background: #25a422;
}

.main button:hover {
	background: #6be579;
}

.inf {
	display: flex;
	position: relative;
	bottom: 20px;
}