

.seja {

    font-family: sans-serif;
    display: block;
}

.signup {
    display: flex;
}

.signup-page {
    display: block;
    margin: 50px 0;
    max-width: 800px;
    text-align: center;
}

.signup-page h1 {
    font-size: 60px;
    text-align: center;
    color: #000;
    

}

.signup-page h3 {
    font-size: 30px;
    padding: 0 45px;
}

.signup-page p {
    text-align: center;
    color: #000;
    font-size: 20px;
    padding: 0 80px;
}

.signup-form {
    background: #a4f8ae;
    padding: 40px;
    width: 50%;
    max-width: 550px;
    text-align: center;
    height: 465px;

}

.signup-form h2 {
    margin: 40px;
}

.signup-form form {
    text-align: center;
}

.signup-form label {
    display: block;
}

.input-name {
    display: flex;
    justify-content: space-evenly;
}

.input-name input {
    display: block;
    padding: 5px;
    border: 1px solid silver;
    font-size: 16px;
    line-height: 30px;
    width: 60%;
}

.input-name input#name {
    width: 30%;
}

.input-password input {
    display: block;
    padding: 5px;
    border: 1px solid silver;
    font-size: 16px;
    line-height: 30px;
    width: 95.5%;
    margin: 0 8px 5%;
}

.input-password input#date {
    width: 50%;
}



.signup-form div {
    margin: 0 12px 5%;
}

.signup-form button {
    background: #6be579;
    color: #000;
    padding: 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin: 30px;
    position: absolute;
    right: 0;
}