
.header {
	width: 100vw;
	height: 70px;
	display: flex;

    background: linear-gradient(90deg, #212121 0%, #215d1f 48%, #26e04f 100%);
    font-size: 15px;

}


.title {
	margin: 15px;
}

.title h1 {
	font-size: 30px;
	display: flex;
	position: relative;
	color: azure;
}

.main-menu {
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 400px;
}

.main-menu button {
	background-color: transparent;
	color: azure;
	border: 0;

}

button.button-signup {
	background: #00c2cb;
	margin: 2px;
}



.login {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 18px;
	margin-left: 60px;
	color: azure;
	
}